@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    height:100vh;
    display: grid;
    grid-template-rows: 20% 4fr;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 30% 30% 1fr;
    color: white;
    background-color: #ec4899;
    padding: 40px;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template: 70px 1fr / 1fr;
    align-items:flex-start;
    margin: 15px 35px;
}

.header-title-1{
    display: grid;
    grid-template-columns: 80% 20%;
}

.search-bar{
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"]{
    padding: 5px 20px;
    width: 60%;
    height: 2.5em;
    border: none;
    border-radius: 15px;
    background-color: #fce7f3;
}

.profile-icons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

#notif{
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    color: #f472b6;
    margin-right: 1em;
}

#notif:hover{
    color: #be185d;
}

#prof-img-1{
    max-width: 50px;
    max-height: auto;
}

#search-icon{
    max-width: 30px;
    max-height: 30px;
}

.profile-icons>.prof-name{
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 120px;
}

.header-title-2{
    display:grid;
    grid-template-columns: 70% 30%;
}

.left-title{
    display:grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 20px;
}

.welcome{
    display:grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.welcome>.prof-name{
    font-size: 1.6rem;
    font-weight: bold;
    min-width: 300px;
}

#prof-img-2{
    max-width: 65px;
    max-height: auto;
}

.right-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 5px;
}

.pink-btn{
    background-color: #f472b6;
    font-weight: bold;
    font-size: 0.9em;
    color: white;
    border: none;
    border-radius: 25px;
    min-width: 100px;
    width: 90%;
    height: 50px;
}

.pink-btn:hover{
    background-color: #be185d;
}

.content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 80% 20%;
    gap: 15px;
    background-color: #fdf2f8;
    padding: 50px;
}

.title{
    position: relative;
    top: -28px;
    font-weight: bold;
    font-size: 1.2em;
}

.content>.title{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-weight: bold;
}

.card-container{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 15px;
}

.card-title{
    position: absolute;
}

.side-card-1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.side-card-2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.announcements, .trending-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding-right: 15px;
}

.card{
    height: 200px;
    background-color: white;
    display: grid;
    grid-template-rows: 80% 20%;
    gap: 2px;
    padding: 20px;
    border-left: #f472b6 10px solid;
    border-radius: 10px;
}

.card-info{
    grid-row: 1 / 2;
}

.card-info>h2{
    padding-bottom: 5px;
}
.card-icons{
    justify-self: flex-end;
    align-self: center;
    grid-row: 2 / 3;
}

ul>li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2em;
    margin-bottom: 8px;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

a:active{
    text-decoration: none;
}